.btn {
    -fx-background-color: #2563eb;
}

.btn:hover {
    -fx-background-color: #3b82f6;
}

.btn-radius {
    -fx-background-radius: 20px;
}

.btn-logout {
    -fx-background-color: #6b2313;
    -fx-background-radius: 5px;
}

.btn-logout:hover {
    -fx-background-color: #7a392b;
}